*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
#logo{
    width: 6rem;
    height: 3rem;
}
.container-fluid{
    background-color: whitesmoke;
    padding: .5rem 1rem .5rem 1rem;
}
a{
    text-decoration: none;
    color: #000;
}
.d-flex > a:not(:first-child){
    margin-left: 1rem;
}
#orderNowBesideLogo{
    display: none;
}
#orderNowBesideLogo{
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin-left: 1rem;
}
@media only screen and (max-width: 991px) {
    .d-flex{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .d-flex > a:not(:first-child){
        margin-left: 0;
    }
    #orderNowBesideLogo{
        display: inline-block;
        text-decoration: none;
    }
    #orderNowInHamburger{
        display: none;
    }
}