<nav-bar></nav-bar>
<div id="main">
    <div id="cartItems">
        <ol class="list-group" id="products" *ngFor="let product of products ; let i = index">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <img src="{{ product.imageurl }}" alt="Avatar" width="100" height="100">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ product.pdesc }}</div>
                    {{ product.pprice }} LBP
                    <br />
                </div>
                <span class="badge bg-primary rounded-pill">{{ productsCartItems.cartItems[i].olqtty }}</span>
            </li>
        </ol>
    </div>
    <div id="orderSummary" *ngIf="totalPrice">
        <form [formGroup]="checkoutForm" (ngSubmit)="submitCheckoutForm()">
            <h4>Order Summary</h4>
            <small>Subtotal(<span>{{ subtotal }}</span> items)</small>
            <h5>Order Totals</h5>
            <p>Total Price: <span>{{ totalPrice }} LBP</span></p>
            <!-- <p>Delivery Charge: 25,000LBP</p> -->
            <!-- <p>Net Price: <span>{{ netPrice }} LBP</span></p> -->
            <div *ngFor="let address of addresses" id="address">
                <input type="radio" value="{{ address.addrdesc + address.addrdetails}}"
                    formControlName="selectedAddress">
                <p>Address: <span>{{ address.addrdesc }}</span></p>
                <p>Address Details: <span>{{ address.addrdetails }}</span></p>
                <p>City: <span>{{ address.addrcity }}</span></p>
            </div>
            <a class="btn btn-warning" (click)="addAddress()">Add Address</a>
            <button class="btn btn-primary">CHECKOUT NOW</button>
        </form>
    </div>
</div>